.about-intro {
	padding: 5rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&__title,
	&__text {
		max-width: 800px;
		padding: 1.5rem;
	}

	&__title {
		font-weight: 300;
		font-size: 2rem;
		margin: 0;
		width: 30%;
	}

	&__text {
		font-size: 1.25rem;
		width: 70%;
	}
}
