.main-header {
	background: rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid #fff;
	display: flex;
	left: 0;
	padding: 0 1rem;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 99;

	.inner-header {
		margin: auto;
		max-width: $max-width;
		display: flex;
		justify-content: space-between;
		width: 100%;

		.logo {
			margin: 0;
			font-weight: 300;
			color: #fff;
			font-size: 2rem;
			padding: 0.5rem 0;

			a {
				color: inherit;
				text-decoration: none;
			}
		}

		.hamb-menu {
			//background: #fff;
			cursor: pointer;
			display: flex;
			flex-direction: column;
			height: 36px;
			justify-content: space-between;
			margin-top: 1rem;
			padding: 0.5rem;
			width: 40px;
			transition: all 0.5s;
			position: relative;
			z-index: 2;

			&__bar {
				height: 3px;
				background: #fff;
				transition: all 0.5s;
			}

			&.crossed {
				transform: rotate(180deg);

				.hamb-menu__bar {
					background: $accent-color;
				}

				.hamb-menu__bar:first-child {
					transform: translateY(8px) rotate(40deg) scaleX(1.3);
				}
				.hamb-menu__bar:nth-child(2) {
					opacity: 0;
				}
				.hamb-menu__bar:last-child {
					transform: translateY(-8px) rotate(-40deg) scaleX(1.3);
				}
			}
		}

		.side-menu {
			background: #fff;
			height: 100vh;
			left: 0;
			top: 65px;
			transform: translateX(-110%);
			transition: all 0.8s ease-in-out;
			width: 100vw;
			z-index: 90;
			display: flex;
			position: fixed;

			&.open {
				transform: translateX(0);

				.main-nav {
					padding: 0;
				}
			}

			.main-nav {
				padding: 0 30% 0 0;
				margin: auto;
				transition: all 1.6s ease-in-out;

				&__link {
					display: block;
					padding: 0.25rem 1rem;
					font-size: 2.5rem;
					text-decoration: none;
					transition: all 0.3s;
					color: #666;
					text-align: center;

					&:hover {
						color: $primary-color;
					}
				}
			}
		}
	}
}
